<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rxjavaoperatorsexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ex22.ConcatMapOperatorActivity"></activity>
        <activity android:name=".Ex23.SwitchMapOperatorActivity" />
        <activity android:name=".Ex21.FlatMapOperatorActivity" />
        <activity android:name=".Ex20.MapOperatorActivity" />
        <activity android:name=".Ex19.MergeOperatorActivity" />
        <activity android:name=".Ex18.ConcatOperatorActivity" />
        <activity android:name=".Ex17.MathOperCustomDataTypesActivity" />
        <activity android:name=".Ex16.CountReduceOperatorActivity" />
        <activity android:name=".Ex15.MaxMinSumAverageOperatorActivity" />
        <activity android:name=".Ex14.DistinctOperatorEx2Activity" />
        <activity android:name=".Ex13.DistinctOperatorEx1Activity" />
        <activity android:name=".Ex12.TakeOperatorActivity" />
        <activity android:name=".Ex11.SkipOperatorActivity" />
        <activity android:name=".Ex10.FilterOperatorEx2Activity" />
        <activity android:name=".Ex9.FilterOperatorActivity" />
        <activity android:name=".Ex8.DebounceOperatorActivity" />
        <activity android:name=".Ex7.BufferOperatorEx2Activity" />
        <activity android:name=".Ex6.BufferOperatorEx1Activity" />
        <activity android:name=".Ex5.RepeatOperatorActivity" />
        <activity android:name=".Ex4.RangeOperatorActivity" />
        <activity android:name=".Ex3.JustAndFromDifferenceActivity" />
        <activity android:name=".Ex2.FromOperatorActivity" />
        <activity android:name=".Ex1.JustOperatorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>